@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
}

.container {
	width: 1145px;
	margin: 0 auto;
}

.menu {
    font-family: "Montserrat", sans-serif;
	width: 620px;
	margin: 25px auto;
	display: flex;
    justify-content: space-between;
    text-align: center;
    list-style-type: none;
}

.menu li a {
	font-size: 18px;
	text-transform: uppercase;
	color: #ff0000;
	font-weight: bolder;
}

.logo {
    width: 100%;
}

.content {
    margin-top: 50px;
	margin-bottom: 80px;
	text-align: center;
}

.title {
	text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
    margin-bottom: 38px;
}

.text {
    letter-spacing: 2px;
    line-height: 26px;
    margin: 28px 67px;
    font-weight: 400;
}

.footer {
    margin-bottom: 30px;
    text-align: right;
}

.footer p {
    font-weight: 700;
    line-height: 19.5px;
    letter-spacing: 2.4px;
    font-size: 16px;
    margin: 82px 105px 29px 0;
}

.btn button {
    padding: 18px 42px;
    background-color: #ff0000;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    border: 0px;
    border-radius: 4px;
    display: flex;
    margin: 0 auto;
}